.ipynb_checkpoints
.pytest_cache
__pycache__
venv
.idea
# tests/
record/
# data/npz/
# data/xml/
data/csv/output*
# data/xlsx/
# data/videos/
# data/png/
tests/launch
tests/09*


other/
dist/
tnsgrt.egg-info/
.vscode